#click the bar, change from code to markdown to write note. In python, you need to find a library for stuff that you want to do first.

Be careful with capital letters cause python is realy sensitive with it

from IPython.display import Image <- import image

YouTubeVideo("https://www.youtube.com/watch?v=rfscVS0vtbw&t=35s") <- delete everything except the ID at the end of the link in order export the video 

click the cell and hit A key to add a cell above the selected cell

click the cell and hit M key to change the cell from code to mark down

##Intro to Python

In [3]:
from IPython.display import Image

In [14]:
Image(url = "http://byungwan.com/class/goodjob.jpg", width=300, height=50)

In [16]:
from IPython.display import YouTubeVideo

In [20]:
YouTubeVideo("v=rfscVS0vtbw&t=35s", width= 300, height=200)

##Operator

In [23]:
1+2

3

In [25]:
3*7

21

In [26]:
a = 1 
b = 2

In [28]:
a+b

3

In [34]:
c = "Korea University"
d = "Business School"

In [39]:
c + " " + d #add " " to have a space in the middle of two words

'Korea University Business School'

##3. Data Type

In [40]:
a

1

In [41]:
type(a)                       #type to check what type of data it is

int

In [45]:
e = "1"                       #str: string which is text in python

In [46]:
e

'1'

In [43]:
type(e)

str

In [47]:
f = 3/7

In [48]:
f

0.42857142857142855

In [49]:
type(f)   #so vo han

float

In [50]:
int(f)   #convert a floating number to integer

0

In [52]:
int (1.8)  #it just drops all the numbers after ,

1

In [53]:
round(1.8)  # it rounds up the number

2

In [54]:
str(f)

'0.42857142857142855'

In [58]:
str(f) + "1" #it is combining two strings not, not phep cong (addition)

'0.428571428571428551'

##4. Array (something similar to list in C++)

In [63]:
profs = ["Kim", "Lee", "Han", "Park"]

In [64]:
profs[1]  #order of a arry in Python starts with 0, so be careful when you put number to call a value

'Lee'

In [65]:
profs[0:2]  #the ending number has to be +1 with the order of the one we want to call

['Kim', 'Lee']

In [66]:
profs[1:3]

['Lee', 'Han']

##Logic

In [78]:
1 == 1  # be careful with the equal sign

True

In [68]:
1=="1"

False

In [69]:
1 != 1 #asking if 1 is equal to 1

False

In [70]:
1!= "1"

True

In [71]:
age = 20

In [75]:
if age > 18: 
    print("beer")
else: 
    print("coke")

beer

In [76]:
1 > 1

False

In [83]:
if age > 18: 
    print("beer")
elif:    
    print ("milk")
else: 
    print("coke")

SyntaxError: invalid syntax (3510331640.py, line 3)

#data frame

In [81]:
from random import randint

In [82]:
randint(1,100)

98

In [84]:
import numpy as np # just to shorten the word when we use it

In [85]:
np.random.randint(0,100, size = 4)

array([ 0, 56, 93, 29])

In [88]:
value = np.random.randint(0,100, size = (7,4))

In [89]:
value

array([[84, 86, 70, 76],
       [66, 86, 90, 69],
       [84, 26, 46, 71],
       [70, 98, 89, 78],
       [80, 98, 79, 14],
       [18, 52, 23, 74],
       [66, 82,  3, 65]])

In [91]:
import pandas as pd

In [93]:
table = pd.DataFrame(value)

In [94]:
table

    0   1   2   3
0  84  86  70  76
1  66  86  90  69
2  84  26  46  71
3  70  98  89  78
4  80  98  79  14
5  18  52  23  74
6  66  82   3  65

In [96]:
firms = ["Firm1", "Firm2", "Firm3", "Firm4"]

In [103]:
table.columns = firms

In [104]:
table

      Firm1  Firm2  Firm3  Firm4
Mon      84     86     70     76
Tue      66     86     90     69
Wed      84     26     46     71
Thur     70     98     89     78
Fri      80     98     79     14
Sat      18     52     23     74
Sun      66     82      3     65

In [98]:
date = ["Mon", "Tue", "Wed", "Thur", "Fri","Sat","Sun"]

In [99]:
table.index = date

In [100]:
table

       0   1   2   3
Mon   84  86  70  76
Tue   66  86  90  69
Wed   84  26  46  71
Thur  70  98  89  78
Fri   80  98  79  14
Sat   18  52  23  74
Sun   66  82   3  65